/* base styles */
*{
  padding: 0;
  margin: 0;
  font-family: "Comfortaa", sans-serif;
  font-style: normal;
}
a, a:visited{
  text-decoration: none;
  color: white;
}

.root, .body, .html{
  height: 100%;
}
body{
  background-color: #1e1e2f;
  color: white;
}
/* menu styles */
.menu{
  background-color: #2d2d44 ;
  font-size: 1.3em;
  margin-bottom: 30px;
}

.menu-navigation{
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  
}
/* footer */
footer{
  background-color: #2d2d44;
  padding:20px 40px;
  margin-top: 30px;
}
footer ul{
  list-style: none;
}
footer *{
  margin: 20px 0;
}
/* home page styles */
.home-content__icons{
  text-align: center;
}
.icons{
  max-width: 30%;
  margin:30px;
  border-radius:100px ;
}
.home-content p{
  margin: 30px auto;
  max-width: 80%;
  text-align: center;
  font-size: 1.4em;
  line-height: 1.4em;
}
/* projects styles */
.card-container{
  /* color: black; */
  width:300px ;
  min-height: 400px;
  border-radius: 10px;
  text-align: center;
  background-color: #313244;
  /* background-color: white; */
}

.card-image{
  width: 70%;
  height: 270px;
  object-fit: cover;
  background-color: white;
  border-radius: 10px;
}

.card-galery{
  width: 80%;
  margin:50px  auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px ;
}

.card-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}
/* detailed pictures */
.detailed-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.detailed-title{
  font-size: 2.5em;
  margin: 20px 0 40px;
  text-decoration: underline;
  text-underline-offset: 5px ;
}
.detailed-image{
  height: 80vh;
  background-color: white;
  
}
.detailed-description{
  font-size: 1.4em;
  margin: 30px 0 20px;
  background-color: #313244;
  padding: 10px 40px;
  border-radius: .8em;
}